body{
    background-color: black;
    overflow: auto;
}

#wrapper { /*96%로 너비값*/
    width: 100%;
    margin: 0 auto;
    
}
header { /*헤더 %로 단위변경*/
    width: 100%;
    height: 184px;
    background-color: black;
    display: flex;
    
}

.homeimg{ /*홈버튼 이미지 공간*/   
    margin-left: 5%;
    margin-top: 62px;
}
    

.search{ /*검색창 공간*/
    margin-left: 4.8%;
    margin-top: 62px;
    width: 32.1875%;

    
    
}
    .searchplace{ /*검색칸*/
        width: 100%;
        height: 51px;
        
        
        
        border: 1px solid #000000;
        border-radius: 30px;
        
    }
        .search_btn{ /*검색 버튼*/
            position: absolute; 
            top:77px;
            left: 49.8125%;
            
            background-color: white; 
                  
        }

.name{ /*회원 이름칸*/
    margin-left: 9%; 
    margin-right: 9%;
    margin-top: 77px;

    
}    
   
    .name1 { /*회원 이름 (변경되는 이름)*/
        font-family: 'Poppins';
        font-size: 20px;               
        line-height: 30px;
        

        color: white;
        
    }
    .name2 { /*회원 이름의 님*/
        font-family: 'Poppins';
        font-size: 20px;                       
        line-height: 30px;
        

        color: white; 
        
    }



.selectbtn{ /*세가지 버튼의 공간*/
    margin-right: 2.6%;
    margin-top: 76px;
    width: 22.77%;
    
}

    .header-select{ /*세 버튼의 옵션*/  
            background-color: black;
            margin-right: 11.527%;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            border: 0;
            outline: 0;
            color: #FFFFFF;
            
        }

.name{ /*회원 이름칸*/
    margin-left: 9%; 
    margin-right: 9%;
    margin-top: 77px;

    
}    
   
    .name1 { /*회원 이름 (변경되는 이름)*/
        font-family: 'Poppins';
        font-size: 20px;               
        line-height: 30px;
        

        color: white;
        
    }
    .name2 { /*회원 이름의 님*/
        font-family: 'Poppins';
        font-size: 20px;                       
        line-height: 30px;
        

        color: white; 
        
    }



.selectbtn{  /*세가지 버튼의 공간*/
    margin-right: 2.6%;
    margin-top: 76px;
    width: 22.77%;
    
}

    .header-select{ /*세 버튼의 옵션*/    
            background-color: black;
            margin-right: 11.527%;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            border: 0;
            outline: 0;
            color: #FFFFFF;
            
        }

.middle{ /*중앙*/
    display: flex;
}




    .left-side { /*왼쪽 사이드 바 (빈 공간)*/
        width: 26.823%;
        padding: 1.5625%;
        background-color: black;
    }
    .content { /*본문 %로 단위변경*/
        width: 46.354%;
        height: 2300px;
        background-color: black;
        
    }

    .titlename{ /*타이틀 이름*/ 
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;

        color: white;
    }


        .realtimebox{ /*실시간 차트와 시간 박스 공간*/ 
            display: flex;
            margin-top: 50px;
        }

            .chartnamebox{ /*실시간 차트 박스 공간*/ 
                width: 50%;
                height: 36px;
                float: left;

                
            }

            .timebox{ /*실시간 시간 박스 공간*/    
                width: 50%;
                height: 36px;
                
            }

                .texttime{ /*실시간 시간*/    
                    margin-top: 7px;

                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 22px;                    
                    float: right;

                    color: white;
                }

                .chartoption{ /*노래 전체 박스 공간*/
                    width: 100%;
                    height: 50px;
                    display: flex;
                    margin-top: 23px;
        
                   
                }
        
                    .chartrankbox{ /*노래 등수 박스 공간*/
                        width: 5.219%;
                        height: 50px;
                        margin-left: 0.931%;
                        text-align: center;
        
                       
                    }
                        .chartrank{ /*노래 등수*/
                            
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 24px;
                            line-height: 50px;
        
                            color: white;
                        }
        
                    .chartmusicimgbox{ /*노래 이미지 박스 공간*/
                        width: 50px;
                        height: 50px;
        
                        margin-left: 2%;
                        
                        
                    }
                        .chartmusicimg{ /*노래 이미지*/
                            width: 50px;
                            height: 50px;
                            border-radius: 10px;
                        }
        
                        
        
                    .chartmusicnamebox{ /*노래 이름 박스 공간*/
                        width: 31.242%;
                        height: 43px;
                        margin-top: 3.5px;
                        margin-left: 5.655%;
        
                       
                    }
        
                        .chartmusicname{ /*노래 이름*/                         
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 24px;
                            line-height: 36px;
        
                            color: white;
                        }
        
                        
        
                    .chartmusicartistbox{ /*노래 아티스트 박스 공간*/
                        width: 19.9%;
                        height: 43px;
                        margin-top: 3.5px;
        
                        
         
                    }
        
                        .chartmusicartist{ /*노래 아티스트*/
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 24px;
                            line-height: 36px;
        
                            color: white;
                        }
                    
                    .chartgenrebox{ /*노래 장르 박스 공간*/
                        width: 24.9%;
                        height: 43px;
                        margin-top: 3.5px;
        
                       
                                       
                    }
        
                        .chartgenre{ /*노래 장르*/
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 24px;
                            line-height: 36px;
        
                            color: white;
                        }
        
        
        
                    .chartplaybtnbox{ /*노래 플레이 버튼 박스 공간*/
                        width: 5.2%;
                        height: 43px;
                        margin-top: 3.5px;
                        
                        
                        
                    }
                        .chartplaybtn{ /*노래 플레이 버튼*/
                            width: 30px;
                            height: 30px;
        
                            margin-top: 6px;
                            margin-left: 11px;
                        }

   
    .right-side { /*오른쪽 사이드 바(빈 공간)*/    
        width: 26.823%;
        height: 1000px;
        padding: 1.5625%;
        background-color: black;
    }


    footer { /*푸터 %로 단위변경*/
   
        height: 180px;
        background-color:   #4747FF;
        color: #fff;
        position: fixed;
        display: flex;
        left: 0; width: 100%; bottom: 0;
        
    }
    
        .music{ /*전체 음악 박스 공간*/
            margin-left: 10.833%;
            margin-right: 10.833%;
            width: 78.33%;
            height: 180px;
    
            
        }
            .musicoption{ /*노래 박스들 옵션*/
                display: flex;
            }
                .musicimgbox{ /*이미지 박스 공간*/
                    width: 5.98%;
                    height: 180px;
    
                    
                }
                    .musicimg{ /*노래 이미지*/
                        margin-top: 23px;
                        width: 100%;
                    }
    
                .musiclistbox{ /*노래 리스트 박스 공간*/
                    width: 16.422%;
                    height: 180px;                
                }
    
                    .listname{ /*리스트 이름 박스 공간*/
                        margin-top: 50px;
                       
                        width: 100%;
                        height: 40.428px;
                       
                    }
                        .musicname{ /*노래 이름*/
                            margin-left: 7.667%;   
    
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 24px;
                            line-height: 36px;
                        }
    
                    .listartist{ /*리스트 아티스트 박스 공간*/
                        width: 100%;
                        height: 83.572px;
    
                        
                    }
                        .musicartist{ /*노래 아티스트*/
                            margin-left: 7.667%; 
    
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 15px;
                            line-height: 22px;
                        }
    
                .musicplaybox{ /*노래 플레이 박스 공간*/
                    width: 55.928%; /*1073px*/
                    height: 180px;
    
                    
                }
                    .musicbtn{ /*노래 버튼*/
                        width: 100%;
                        height: 115.714px;
    
                        
                        text-align: center;
    
                    }
                        .previous{ /*이전 버튼*/
                            width: 40px;
                            height: 40px;
                            margin-bottom: 5px;
                        }
    
                        .play{ /*플레이 버튼*/
                            margin-top: 20px;
                            margin-left: 7.455%;
                            margin-right: 7.455%;
                            width: 50px;
                            height: 50px;
                        }
    
                        .stop{ /*멈춤 버튼*/
                            margin-top: 20px;
                            margin-left: 7.455%;
                            margin-right: 7.455%;
                            width: 50px;
                            height: 50px;
                        }
                        
                        .next{ /*다음 버튼*/
                            width: 40px;
                            height: 40px;
                            margin-bottom: 5px;
                        }
    
    
    
                    .musicprogressbar{ /*프로그레스바 공간*/
                        width: 80%;
                        height: 64.286px;
                        display: flex;
                        margin-left: 10%;
                        
                    }
                        .firsttimebox{ /*시작 시간 공간 박스*/
                            width: 5%;
                            height: 64.286px;
    
                            
                        }
    
                            .firsttime{ /*시작 시간*/
                                float: left;
                                margin-top: 4.5px;
    
                                font-family: 'Poppins';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 15px;
                                line-height: 22px;
                            }
    
                        .progressbarbox{ /*프로그레스바 박스 공간*/
                            width: 90%;
                            height: 64.286px;
    
                            
                        }
    
                            
                        #progress { /*프로그레스바*/
                            appearance: none;
                            width: 100%;
                            height: 10px;
                            
                        }
                        #progress::-webkit-progress-bar { /*프로그레스바 배경*/
                            background:#f0f0f0;
                            box-shadow: inset 3px 3px 10px #ccc;
                           
                        }
                        #progress::-webkit-progress-value { /*프로그레스바 진행바의 배경*/
                            
                            background: #BFBFBF;
                            background: -webkit-linear-gradient(to right, #FFFFFF, #BFBFBF);
                            background: linear-gradient(to right,#FFFFFF, #BFBFBF);
        
                        }
    
                        .lasttimebox{ /*끝나는 시간 박스 공간 (노래 전체 시간)*/
                            width: 5%;
                            height: 64.286px;
                           
                        }
    
                            .lasttime{ /*끝나는 시간 효과*/
                                float: right;
                                margin-top: 4.5px;
    
                                font-family: 'Poppins';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 15px;
                                line-height: 22px;
                            }
                            
                .listbtnbox{ /*노래목록 리스트 버튼 박스 공간*/
                    width: 22.402%;
                    height: 180px;
    
                    
                }
    
                    .playlistbtn{ /*플레이 리스트 박스 공간*/
                        margin-top: 65px;
                        float: right;
                    }
    